/* --------------------------
HOME-LOGIN STYLES
--------------------------- */
.login-bg {
  background: url('../images/bg-forrest.png')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: $pageWidth;
  height: 300px;
  transform: skewY(-8deg);
  transform-origin: top left;
}
.signup-box {
  position: relative;
  padding: 100px 0 0;
}
.signup {
  color: $white;
  text-align: center;
}
.green-check {
  background-color: $green;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 80px auto 0;
  .check-box {
    position: relative;
    left: calc(50% - 20px);
    top: calc(50% - 28.81px/2);
    .white-check {
      width: 40%;
      height: auto;
    }
  }
}

.login-form {
  margin: 50px auto;
  text-align: center;
  width: $width90;
  .login-div {
    margin-bottom: 40px;
  }
  label {
    color: $gray;
  }
  input {
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: $gray;
    text-align: center;
    width: 100%;
    &:placeholder {
      font-size: $fontRegular;
      color: black;
    } 
  }
  button {
    background-color: $pink;
    border-style: none;
    color: $white;
    padding: 10px 0;
    width: 100%;
  }
}



