/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------------------------
VARIABLES STYLES
--------------------------- */
/* --------------------------
HOME-LOGIN STYLES
--------------------------- */
.login-bg {
  background: url("../images/bg-forrest.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 414px;
  height: 300px;
  transform: skewY(-8deg);
  transform-origin: top left; }

.signup-box {
  position: relative;
  padding: 100px 0 0; }

.signup {
  color: #f1f1f1;
  text-align: center; }

.green-check {
  background-color: #18967E;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 80px auto 0; }
  .green-check .check-box {
    position: relative;
    left: calc(50% - 20px);
    top: calc(50% - 28.81px/2); }
    .green-check .check-box .white-check {
      width: 40%;
      height: auto; }

.login-form {
  margin: 50px auto;
  text-align: center;
  width: 90%; }
  .login-form .login-div {
    margin-bottom: 40px; }
  .login-form label {
    color: #b6b6b6; }
  .login-form input {
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: #b6b6b6;
    text-align: center;
    width: 100%; }
    .login-form input:placeholder {
      font-size: 1.2rem;
      color: black; }
  .login-form button {
    background-color: #e0069f;
    border-style: none;
    color: #f1f1f1;
    padding: 10px 0;
    width: 100%; }

/* --------------------------
ABOUT STYLES
--------------------------- */
/* --------------------------
MENU STYLES
--------------------------- */
/* --------------------------
CALENDER STYLES
--------------------------- */
/* --------------------------
CALCULATOR STYLES
--------------------------- */
/* --------------------------
GENERAL STYLES
--------------------------- */
* {
  box-sizing: border-box; }

html {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5; }

body {
  background-color: #383838; }

.main-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 auto;
  position: relative;
  width: 414px;
  overflow: auto; }

.content {
  flex: 1 0 auto; }

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 auto;
  width: 90%; }
  footer .terms {
    color: #b6b6b6; }
  footer .sign-out {
    color: #e0069f; }

.lg-font {
  font-size: 2.5rem;
  font-weight: 100; }

.md-font {
  font-size: 1.5rem;
  font-weight: 100; }

.reg-font {
  font-size: 1.2rem;
  font-weight: 100; }

.sm-font {
  font-size: 1rem;
  font-weight: 100; }

/*# sourceMappingURL=main.css.map */
